<div class="jumbotron">
    <h1>Welcome to Rush Hour.</h1>
    <h4>You can register, or login, if you're already registered, and view your appointments, add, update, delete and cancel your existing ones.</h4>
</div>