@using RushHour.App.Models.ViewModels
@model ActivityViewModel

<div class="activity">
    <label>Name:</label>
    <span>@Model.Name</span>
    <br />
    <label>Duration:</label>
    <span>@Model.Duration minutes</span>
    <br />
    <label>Price:</label>
    <span>$@Model.Price</span>
    <hr />
    @Html.ActionLink("Edit", "Edit", "Activity", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete", "Delete", "Activity", new { id = Model.Id }, new { @class = "btn btn-danger" })
</div>